/* Global */

body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: #0c0e1a; /* Dunkelblau */
    color: #e2c892; /* Gold */
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: #0c0e1a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar a {
    margin-left: 25px;
    color: #e2c892;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #e2c892;
    font-size: 20px;
    font-weight: bold;
}

.logo-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}


/* HERO SECTION */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px;
    background: #0c0e1a;
    color: #e2c892;
}

.hero-content {
    max-width: 650px;
}

.tag {
    color: #e2c892;
    font-size: 15px;
    margin-bottom: 18px;
}

.hero-title {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 21px;
    color: #ccb98e;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 22px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #deb97c;
    padding: 15px 26px;
    border-radius: 28px;
    color: #0c0e1a;
    font-weight: 600;
    text-decoration: none;
}

.btn-outline {
    border: 2px solid #deb97c;
    padding: 13px 24px;
    border-radius: 28px;
    color: #deb97c;
    text-decoration: none;
    font-weight: 600;
}

.hero-small {
    margin-top: 15px;
    color: #ccb98e;
    font-size: 15px;
}

.hero-image-box {
    width: 45%;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 80%;
    border-radius: 18px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.4);
}
